<!DOCTYPE html>
<html>
  <head>
    <title>Kojima Name Generator</title>
    <%= render 'layouts/rails_header' %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
